.auth-btn {
  border: 2px solid black !important;
  background-color: white !important;
  color: black !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: all 0.3s ease;
}
.auth-btn:hover {
  border: 2px solid black !important;
  background-color: black !important;
  color: white !important;
  transition: all 0.3s ease;
}
